#content {
  display: flex; 
  flex-wrap: wrap;
  align-content: center;   
  flex-direction: column;
}

header {
    padding:7px;
    margin:4px;
    background-color:lightsteelblue;
    height:30px;
    width:100%;
    color:#444;
    text-align:left;
    font:bold 15px Fira Mono, monospace;
}

header p {
  position: relative;
  float: right;
  padding: 1px 140px 0 0;
}

nav {
  overflow:hidden;
}

nav a {
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + div {
  padding-top: 102px;
}

.module-space {
    background-color: white;
    height: 32px; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  height: 300px;
  grid-gap: 10px;
  padding: 10px;
}

div > div {
  text-align: center;
  padding: 20px 0;
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  font-size: : 20px;
  overflow: auto;
  background-color: white;
}

.grid-gallery {
  display: grid;
  grid-template-columns: 0.4fr  repeat(4, minmax(0, 1fr)) 0.4fr;
  height: 500px;
  grid-gap: 10px;
  padding: 10px;
}

.grid-gallery div {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.grid-gallery img {
    max-height: 80%;
    max-width: 50%;
}


a > img {
    max-width:60%;
    max-height:100%
}

div .btn {
    cursor: pointer;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    background-color: rgba(220, 230, 238, 0.75);
    border: 0;
    border-radius: 50%;
    color: rgb(141, 140, 140);
    display: inline-block;
    font-weight: 400;
    height: 65px;
    line-height: normal;
    padding: 0;
    text-align: center;
    width: 65px;
    opacity: 0.7;
}
#left {
    position:absolute;
    left: 10%;
}

#right {
    position:absolute;
    right: 10%;
}

div .btn:hover {
    opacity:1;
}

div .btn:focus {
    border: 1px solid ;
    border-color:blue;
    outline:none;
}

#submitComment {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    display:flex;
    justify-content: center;
}

#submitComment input[type=text], textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

#submitComment input[type=submit] {
  background-color: #89cc8e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#submitComment input[type=submit]:hover {
  background-color: #45a049;
}

