#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
  border:3px solid green;
}

#quote-container {
  margin-top: 20px;
  border:3px solid green;
}
